.p {
    padding: .2em;
}

.pg-icon{
    height: 1.5em;
}

.pg-icon2 {
    height: 1em;
}

.pg-btn {
    border: none;
    background: none;
    color: #747474;
}

.pagination-text{
    font-size: 1.2em;
}